<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  <appSettings>
    <add key="SolidFoundry" value="Server=localhost;Database=solidfoundry;Uid=root;Pwd=;"/>
  </appSettings>
  <connectionStrings>
    <add name="SolidFoundry" connectionString="Server=localhost;Database=solidfoundry;Uid=root;Pwd=;"/>
  </connectionStrings>
  -->
</configuration>