<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="InventorySystemMaintenanceEntities" connectionString="metadata=res://*/InventorySystemMaintenanceEntities.csdl|res://*/InventorySystemMaintenanceEntities.ssdl|res://*/InventorySystemMaintenanceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=InventorySystem;Persist Security Info=True;User ID=sa;Password=pass@word1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>