.ratingStar
{
	font-size: 0pt;
	width: 15px;
	height: 14px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	display: block;
	background-repeat: no-repeat;
	
}

.filledRatingStar
{
	background-image: url('../../images/filledstar.png');
}

.emptyRatingStar
{
	background-image: url('../../images/emptystar.png');
}

.savedRatingStar
{
	background-image: url('../../images/savedstar.png');
}

